<div class="mb-4">
  <div>
    <label for="<%= id %>" class="block text-lg mb-2"><%= label %></label>
    <div
      class="flex rounded-md ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-gray-600 sm:max-w-sm"
    >
      <input
        class="flex-1 border-0 bg-transparent py-1.5 pl-3 pr-1 text-gray-900 outline-none focus:ring-0 sm:leading-6"
        id="<%= id %>"
        name="<%= id %>"
        type="file"
        accept="image/*"
      />
    </div>
  </div>
  <% if(update.url) { %>
    <%- include('current_image', {id: 'remove-image', name: 'remove-image', label: 'Remove Image', image: update}) %>
  <% } %>
</div>
