<div>
  <form action="<%= locals?.id ? `/pokemon/${id}/edit` : '/pokemon/new'%>" method="POST">
    <%- include('text_input', {id: 'name', label: 'Name', value: locals?.pokemon?.name, required: true }) %>
    <%- include('number_input', {id: 'index', label: 'National Pokedex Index #', value: locals?.pokemon?.index, required: true }) %>
    <%- include('textarea_input', {id: 'entry', label: 'Pokedex Entry', value: locals?.pokemon?.entry }) %>
    <div class="flex justify-between sm:max-w-sm">
      <%- include('select_input', {id: 'type1', label: 'Type 1', value: locals?.pokemon?.type1, options: types, optionsLabel: 'type' }) %>
      <%- include('select_input', {id: 'type2', label: 'Type 2', value: locals?.pokemon?.type2, options: types, optionsLabel: 'type' }) %>
    </div>
    <% if (locals?.id) {%>
      <input type="hidden" id='password' name='password'>
    <% } %>
    <%- include('submit_button', {id: locals?.id }) %>    
  </form>
</div>
<%- include('errors') %>

<% if (locals?.id) { %>
  <script>
    const form = document.querySelector('form');
    const passwordHiddenField = document.querySelector('#password');

    form.addEventListener('submit', (e) => {
      e.preventDefault();
      const password = prompt('Enter admin password to update');
      passwordHiddenField.value = password;
      form.submit();
    })
  </script>
<% } %>