<div>
  <form action="<%= locals?.id ? `/types/${id}/edit` : '/types/new'%>" method="POST">
    <%- include('text_input', {id: 'type', label: 'Type', value: locals?.type?.type, required: true }) %>
    <div class="mb-4">
      <label for="color" class="block text-lg mb-2">Color</label>
      <input
        class="block w-16 h-16"
        id="color"
        name="color"
        type="color"
        value="<%= locals?.type?.color ? `#${type.color}` :  '#aaaa99' %>"
      />
    </div>
    <%- include('submit_button', {id: locals?.id }) %>    
  </form>
</div>
<%- include('errors') %>
